/* Здесь вы напишете основную часть стилей страницы.

Будьте внимательны! Для корректной работы скриптов на этом сайте нужно, 
чтобы в HTML некоторые классы были названы особым образом:
✦ like-icon — для svg-иконки анимированного сердца
✦ card__like-button — для кнопки Like рядом с иконкой
✦ card__icon-button — для кнопки, оборачивающей иконку
✦ card__icon-button — для кнопки, оборачивающей иконку
✦ is-liked — для обозначения состояния лайкнутой иконки в виде сердца
✦ button__text — для обозначения текстового элемента внутри кнопки

*/

.page {
  min-inline-size: 375px;
  min-block-size: 100dvb;
  font-family: var(--main-font), sans-serif;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 100px;
  font-variation-settings: 'wght' var(--content-card-font-weight);
}

.bg-style {
  background-image:
    repeating-linear-gradient(
      to right,
      #d3d3d3 0 2px,
      rgb(211 211 211 / 0) 2px 4px),
    repeating-linear-gradient(
      to bottom,
      #d3d3d3 0 2px,
      rgb(211 211 211 / 0) 2px 4px),
    linear-gradient(to bottom, #e7e7e7 0.01%, #1a1a1a 100%);
  background-size: cover;
  background-attachment: fixed;
}

.header {
  margin-block-start: 100px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 20px;
}

.adaptive-container {
  inline-size: clamp(23.438rem, 16.285rem + 30.516vw, 43.75rem);
}

.container-style {
  background: #fff;
  border: 2px solid var(--accent-color);
}

.header-logo {
  font-size: clamp(3.063rem, 2.71rem + 1.502vi, 4.063rem);
  font-family: var(--accent-font), sans-serif;
  text-transform: uppercase;
  margin-block-start: clamp(7.5rem, 7.324rem + 0.751vw, 8rem);
}

.header-title {
  font-size: clamp(0.875rem, 0.677rem + 0.845vi, 1.438rem);
  font-family: var(--accent-font), sans-serif;
  font-weight: var(--content-card-font-weight);
  text-transform: uppercase;
  margin-block-end: clamp(7.5rem, 7.324rem + 0.751vw, 8rem);
}

.main {
  display: grid;
  gap: 50px;
  justify-items: center;
}

.card {
  display: flex;
  flex-direction: column;
  inline-size: clamp(23.438rem, 16.285rem + 30.516vw, 43.75rem);
}

.card-title {
  font-family: var(--main-font), sans-serif;
  font-variation-settings: 'wght' var(--title-card-font-weight);
  font-size: var(--cards-title-font-size);
  color: var(--accent-color);
  line-height: 22px;
  inline-size: clamp(21.938rem, 15.093rem + 29.202vw, 41.375rem);
  padding-block: 5px;
  padding-inline: 10px;
}

.card-area-img {
  position: relative;
  border-block: 2px solid var(--accent-color);
  margin-block-end: 25px;
}

.card-logo {
  font-family: var(--accent-font), sans-serif;
  font-size: var(--cards-logo-font-size);
  text-transform: uppercase;
  color: var(--accent-color);
  opacity: 0.5;
  position: absolute;
  top: 25px;
  right: clamp(0.813rem, 0.548rem + 1.127vw, 1.563rem);
  z-index: 1;
}

.stroke-color {
  text-shadow: 0 0 0 rgb(250 250 250);
  mix-blend-mode: hard-light;
}

@supports (
  (text-stroke: 1px rgba(250, 250, 250)) or
    (-webkit-text-stroke: 1px rgba(250, 250, 250))
) {

  .stroke-color {
    text-stroke: 1px rgb(250 250 250);
    -webkit-text-stroke: 1px rgb(250 250 250);
    text-shadow: none;
  }
}

.card-img {
  display: block;
  margin: 0;
  inline-size: 100%;
  aspect-ratio: 1/1;
  object-fit: cover;
}

.card__container {
  display: flex;
  flex-direction: column;
  gap: 26px;
  align-self: center;
  inline-size: clamp(20.063rem, 12.91rem + 30.516vw, 40.375rem);
  margin-block-end: 25px;
}

.text-content {
  font-family: var(--main-font), sans-serif;
  font-size: var(--cards-title-font-size);
  color: var(--accent-color);
  line-height: 21px;
  inline-size: clamp(19.813rem, 12.572rem + 30.892vw, 40.375rem);
}

.button-like {
  display: flex;
  gap: 4px;
  justify-content: end;
  align-items: center;
}

.card__icon-button {
  background-color: transparent;
  border: none;
  display: flex;
 justify-content: center;
  align-items: center;
  inline-size: 39px;
  block-size: 34px;
  transition: outline 0.3s ease;
}

.like-icon {
position: absolute;
}

.card__icon-button:focus {
  outline: none;
}

.card__icon-button:focus-visible {
  outline: 2px solid var(--accent-color);
}

.card__like-button {
  inline-size: 130px;
  block-size: 38px;
  background: #fff;
  transition: box-shadow 0.3s ease;
}

.button {
  border: 2px solid var(--accent-color);
  background-color: #fff;
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
  overflow: hidden;
}

.button:focus {
  outline: none;
}

.button:focus-visible {
  box-shadow: 2px 2px 0 0 var(--accent-color);
}

.button__text {
  font-family: var(--accent-font), sans-serif;
  font-size: var(--cards-logo-font-size);
  line-height: 90%;
}

.button-save {
  flex-direction: column;
  gap: 8px;
  inline-size: clamp(19.125rem, 18.487rem + 2.723vw, 20.938rem);
  padding-block: 15px;
  margin-bottom: 100px;
  transition: box-shadow 0.3s ease;
}

.button-style {
  color: #fff;
  mix-blend-mode: difference;
}

.button::before {
  content: ' ';
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: var(--accent-color);
  transform: translateX(-100%);
  transition: transform 0.5s ease-in-out;
}

.button:hover::before {
  transform: translateX(0);
}

.floppy {
  justify-self: center;
  inline-size: 28px;
  block-size: 28px;
}

.floppy-dialog {
  inline-size: 39px;
  block-size: 39px;
}

.dialog::backdrop {
  background-color: rgb(0 0 0 / 0.75);
}

.dialog[open] {
  display: grid;
  gap: 30px;
  justify-content: center;
  padding-block: 30px;
  inline-size: clamp(21.313rem, 21.048rem + 1.127vw, 22.063rem);
  border: 2px solid var(--accent-color);
}

.dialog-container {
  display: flex;
  gap: 20px;
  align-items: center;
}

.dialog-text {
  inline-size: clamp(12.375rem, 11.583rem + 3.38vw, 14.625rem);
  text-transform: uppercase;
  line-height: 150%;
  font-family: var(--accent-font), sans-serif;
  font-size: var(--cards-logo-font-size);
}

.button-close {
  display: flex;
  padding-block: 12.5px;
  justify-content: center;
  text-transform: uppercase;
}

.filter-multy {
  filter: brightness(250%) invert(130%);
}

.filter-contrast {
  filter: contrast(200%);
}

.filter-blur {
  filter: blur(0.2rem);
}

.filter-opacity {
  filter: opacity(40%);
}

.filter-grayscale {
  filter: grayscale(0.2);
}

.filter-saturate {
  filter: saturate(48%);
}

.filter-hue-rotate {
  filter: hue-rotate(20deg);
}

.filter-sepia {
  filter: sepia(50%);
}

@media (width >= 1440px) {

  .button-save {
    flex-direction: row;
  }

  .floppy {
    inline-size: 21px;
    block-size: 21px;
  }
}
