/* В этом файле будут храниться все значения переменных в исходном состоянии, а так же их изменения в зависимости от ширины устройства */

:root {
  --main-font: 'Inter-Variable';
  --accent-font: 'Press Start 2P';
  --title-card-font-weight: 700;
  --content-card-font-weight: 400;
  --cards-title-font-size: 18px;
  --cards-logo-font-size: 14px;
  --accent-color: #000;
  --contour-heart-color: #000;
  --heart-color: #f00;
}
